In [3]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (0.2.22)
Requirement already satisfied: lxml>=4.9.1 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: pytz>=2022.5 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: pandas>=1.3.0 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.0.0)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (1.24.2)
Requirement already satisfied: requests>=2.26 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.28.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: soupsieve>1.2 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: six>=1.9 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (3.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sivam\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.26->yfinance) (2022.12.7)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: C:\Users\sivam\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [ ]:
# For Bitcoin

In [4]:
import yfinance as yf
import pandas as pd

In [5]:
data = yf.download(
    tickers = "BTC-USD",
    period = "5d",
    interval= "15m"
)

[*********************100%***********************]  1 of 1 completed

In [6]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-07-08 00:00:00,30346.921875,30346.921875,30327.437500,30331.720703,30331.720703,0
2023-07-08 00:15:00,30322.843750,30332.111328,30308.957031,30308.957031,30308.957031,0
2023-07-08 00:30:00,30312.671875,30314.921875,30303.632812,30314.921875,30314.921875,0
2023-07-08 00:45:00,30314.707031,30314.707031,30297.013672,30297.375000,30297.375000,0
2023-07-08 01:00:00,30292.218750,30295.556641,30271.626953,30279.517578,30279.517578,0

In [31]:
# Assuming you have a CSV file with historical Bitcoin data
data = pd.read_csv('data1')

In [34]:
data.tail()

,Datetime,Open,High,Low,Close,Adj Close,Volume
402,2023-07-12 04:30:00,30608.753906,30615.916016,30607.246094,30607.246094,30607.246094,13652992
403,2023-07-12 04:45:00,30603.580078,30625.734375,30603.580078,30624.212891,30624.212891,6733824
404,2023-07-12 05:00:00,30631.648438,30633.550781,30626.605469,30633.550781,30633.550781,4941824
405,2023-07-12 05:15:00,30634.861328,30667.742188,30630.628906,30635.679688,30635.679688,25804800
406,2023-07-12 05:30:00,30637.845703,30639.062500,30631.962891,30638.671875,30638.671875,13250560

In [32]:
# Calculate the average closing price for Bitcoin
average_close_price = data['Close'].mean()

In [33]:
print("Average closing price of Bitcoin:", average_close_price)

Average closing price of Bitcoin: 30337.228525222665

In [ ]:
# Ethereum

In [35]:
data = yf.download(
    tickers = "ETH-USD",
    period = "5d",
    interval= "15m"
)

[*********************100%***********************]  1 of 1 completed

In [36]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-07-08 00:00:00,1871.002075,1871.002075,1869.569580,1869.569580,1869.569580,0
2023-07-08 00:15:00,1869.708252,1870.483398,1869.397827,1869.840210,1869.840210,0
2023-07-08 00:30:00,1869.743652,1870.336060,1868.788818,1870.336060,1870.336060,0
2023-07-08 00:45:00,1870.356812,1870.633911,1869.628906,1870.288696,1870.288696,0
2023-07-08 01:00:00,1872.501587,1872.501587,1869.823608,1870.249634,1870.249634,0

In [39]:
data.to_csv("data2")

In [40]:
# Assuming you have a CSV file with historical Ethereum data
data = pd.read_csv('data2')

In [41]:
# Calculate the average closing price for Ethereum
average_close_price = data['Close'].mean()

In [42]:
print("Average closing price of Ethereum:", average_close_price)

Average closing price of Ethereum: 1868.9296958365092

In [ ]:
# Tether

In [43]:
data = yf.download(
    tickers = "USDT-USD",
    period = "5d",
    interval= "15m"
)

[*********************100%***********************]  1 of 1 completed

In [44]:
data.head()

                         Open      High       Low     Close  Adj Close  Volume
Datetime
2023-07-08 00:00:00  1.000129  1.000371  0.999950  1.000124   1.000124       0
2023-07-08 00:15:00  1.000243  1.000441  1.000075  1.000096   1.000096       0
2023-07-08 00:30:00  1.000141  1.000693  1.000055  1.000201   1.000201       0
2023-07-08 00:45:00  1.000196  1.000377  1.000054  1.000276   1.000276       0
2023-07-08 01:00:00  1.000115  1.000641  1.000115  1.000283   1.000283       0

In [45]:
data.to_csv("data3")

In [46]:
# Calculate the average closing price for Tether
average_close_price = data['Close'].mean()

In [47]:
print("Average closing price of Tether:", average_close_price)

Average closing price of Ethereum: 1.0001515250380446

In [48]:
# BNB

In [49]:
data = yf.download(
    tickers = "BNB-USD",
    period = "5d",
    interval= "15m"
)

[*********************100%***********************]  1 of 1 completed

In [50]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-07-08 00:00:00,235.610260,235.610260,235.490875,235.528595,235.528595,0
2023-07-08 00:15:00,235.536209,235.864685,235.520691,235.864685,235.864685,0
2023-07-08 00:30:00,235.873184,235.882065,235.817886,235.879883,235.879883,176192
2023-07-08 00:45:00,235.902359,236.004929,235.872543,236.004929,236.004929,0
2023-07-08 01:00:00,236.078094,236.377701,236.078094,236.377701,236.377701,0

In [51]:
data.to_csv("data4")

In [52]:
# Calculate the average closing price for BNB
average_close_price = data['Close'].mean()

In [53]:
print("Average closing price of BNB:", average_close_price)

Average closing price of Tether: 240.20808481183946

In [ ]:
# XRP

In [54]:
data = yf.download(
    tickers = "XRP-USD",
    period = "5d",
    interval= "15m"
)

[*********************100%***********************]  1 of 1 completed

In [55]:
data.head()

                         Open      High       Low     Close  Adj Close  Volume
Datetime
2023-07-08 00:00:00  0.468757  0.468757  0.468284  0.468284   0.468284       0
2023-07-08 00:15:00  0.468277  0.468277  0.467720  0.467723   0.467723       0
2023-07-08 00:30:00  0.467735  0.467735  0.467326  0.467342   0.467342       0
2023-07-08 00:45:00  0.467366  0.467451  0.467237  0.467275   0.467275       0
2023-07-08 01:00:00  0.467141  0.467294  0.466984  0.467220   0.467220       0

In [56]:
data.to_csv("data5")

In [58]:
# Calculate the average closing price for XRP
average_close_price = data['Close'].mean()

In [59]:
print("Average closing price of XRP:", average_close_price)

Average closing price of XRP: 0.4714306897490564