In [2]:
import yfinance as yf
import pandas as pd

In [3]:
data = yf.download(
    tickers = "BTC-USD",
    period = "1d",
    interval= "1m"
)

[*********************100%***********************]  1 of 1 completed

In [4]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-07-12 00:00:00+00:00,30622.246094,30622.246094,30622.246094,30622.246094,30622.246094,0
2023-07-12 00:01:00+00:00,30632.232422,30632.232422,30632.232422,30632.232422,30632.232422,0
2023-07-12 00:02:00+00:00,30629.943359,30629.943359,30629.943359,30629.943359,30629.943359,0
2023-07-12 00:03:00+00:00,30620.931641,30620.931641,30620.931641,30620.931641,30620.931641,0
2023-07-12 00:04:00+00:00,30624.853516,30624.853516,30624.853516,30624.853516,30624.853516,0